<header class="d-flex justify-content-between pad-20">
    <div><a href="/home">Logo</a></div>
    <nav>
        <ul class="d-flex justify-content-between">
            <li>
                <a href="/home" class="theme-color-1">Home</a>
            </li>
            <li class="ms-4">
                <a href="/admin/settings" class="theme-color-1">Settings</a>
            </li>
            <li class="ms-4">
                <a href="/admin/role" class="theme-color-1">Role</a>
            </li>
            <li class="ms-4">
                <a href="/logout" class="theme-color-1">Logout</a>
            </li>
        </ul>
    </nav>
</header>