<header class="d-flex justify-contnet-around pad-20">
    <div><a href="/home">Logo</a></div>
    <nav>
        <ul class="d-flex justify-contnet-around">
            <li>
                <a href="/home">Home</a>
            </li>
            <li>
                <a href="/admin/settings">Settings</a>
            </li>
            <li>
                <a href="/admin/role">Role</a>
            </li>
            <li>
                <a href="/logout">Logout</a>
            </li>
        </ul>
    </nav>
</header>