<!DOCTYPE html>
<html>
    <head>
        <title><%= pageTitle %></title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <%- include("layouts/header.ejs") %>
        <div class="d-flex container">
            <h1><%= pageName %></h1>
        </div>
        <%- include("layouts/footer.ejs") %>
    </body>
</html>