<!DOCTYPE html>
<html>

<head>
    <title>
        <%= pageTitle %>
    </title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>

<body>
    <%- include("layouts/header.ejs") %>
        <div class="container">
            <h4 class="m-auto text-center">
                <%= pageName %>
            </h4>
            <form action="/register" method="POST" class="form-control w-50 m-auto mt-4 p-5 pt-3 pb-3">
                <div class="mb-3">
                    <label for="username" class="form-label">User name:</label>
                    <input type="text" class="form-control" id="username" placeholder="Enter user name" name="username">
                </div>
                <div class="mb-3 mt-3">
                    <label for="email" class="form-label">Email-Id:</label>
                    <input type="text" class="form-control" id="email" placeholder="Enter user name" name="email">
                </div>
                <div class="mb-3 mt-3">
                    <label for="mobilenumber" class="form-label">Mobile no:</label>
                    <input type="text" class="form-control" id="mobilenumber" placeholder="Enter user name" name="mobilenumber">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password:</label>
                    <input type="password" class="form-control" id="password" placeholder="Enter password" name="password">
                </div>
                <div class="mb-3">
                    <label for="retypePassord" class="form-label">Confirm Password:</label>
                    <input type="password" class="form-control" id="retypePassord" placeholder="Re-type password" name="retypePassord">
                </div>                
                <button type="submit" class="btn btn-primary w-100">Register</button>
            </form>
        </div>
        <%- include("layouts/footer.ejs") %>
</body>

</html>