*{
    padding: 0;
    box-sizing: border-box;
  
}

body {
    height: 100vh;
    background-color: beige;
}


ul {
    list-style: none;
    padding: 0px;
}

.theme-color-1 {
    background-color: blueviolet;
    color: #fff;
}

ul li a{
    text-decoration: none;
    padding: 10px 20px;
}

header, footer{
    background-color: black;
    color: antiquewhite;
    height: 60px;

}

.pad-20 {
    padding: 20px;
    
}
.container {
    padding: 20px;
    min-height: calc(100vh - 120px);
}